.navbar {
  display: block;
  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);

  &.scrolled{
    background-color: var(--main-color);
  }

  img {
    height: 25px;
  }

  .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .logoContainer {
       flex:1;
    }

    .links{
      flex: 11;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        margin-left: 30px;
        display: flex;
        align-items: center;

        img {
          height: 25px;
          margin-right: 40px;
        }

        span {
          margin-right: 20px;
          cursor: pointer;
        }
      }

      .right {
        display: flex;
        align-items: center;

        .icon {
          margin: 0px 15px;
          cursor: pointer;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          object-fit: cover;
          cursor: pointer;
        }

        .profile {
          .options {
            display: none;
            background-color: var(--main-color);
            border-radius: 5px;

            .loginLink {
                a {
                  text-decoration: none;
                  color: white;
                }
            }
          }

          span {
            padding: 10px;
            cursor: pointer;
          }

          &:hover {
            .options {
              display: flex;
              flex-direction: column;
              position: absolute;
            }
          }
        }
      }

      .clickLink {
        display: none;
      }
    }
  }
}

.secondaryNavbar.disabled{
  display: block;
  position: fixed;
  top: 0;
  width: 0;
  //left: -100%;
  left:0;
  overflow-x: hidden;
  z-index: 999;
  height: 100vh;
  transition: all 0.5s ease; //transiton when closing
  text-decoration: none;
  background:#111;

  .container {
     display: none;
  }
}

.secondaryNavbar.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 100vh;
  transition: all 0.5s ease;//transiton when opening
  text-decoration: none;
  background:#111;

    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      justify-content: space-around;
      color: #fff;
      width: 100%;
      transition: all 0.5s ease; //for making transition smooth

      span {
        cursor: pointer;
      }

      .closeIcon {
        width: 100%;
        display: flex;
        justify-content: end;
        cursor: pointer;

        .icon {
          margin-right: 20px;
        }
      }
    }
}



@media(max-width:768px) {

  .navbar {
  
    .container {
  
      .links{
        justify-content: end;
        
        .left {
          display: none;
        }

        .right {
           display: none;
        }

        .clickLink {
          display: block;
        }
      }
    }
  } 
}
